# Vivado
*.log
*.jou
*.str
*.zip
*.xpr
*.xsa
*.bit
*.hwh
gpu_project/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.gen/
*.tmp/
*.xil/

# Simulation outputs
sim/*.vcd
sim/*.out

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
